################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/T-L-Wedding.slnx/FileContentIndex/8c7898d3-0b11-4fa5-b406-1732b79f55c5.vsidx
/.vs/T-L-Wedding.slnx/FileContentIndex/e11f1825-742d-479e-a5fe-0a2c94924bfa.vsidx
